{% extends "template.html" %}
{% block content %}
<h2>ボタン設定</h2>
<div>
    <p>マスコンの各ボタンに機能を割り付けます</p>
    {% for button in buttons %}
    <div class="border border-3 d-inline-flex m-2">
        <form method="post">
            <input type="hidden" name="button_assign_id" value="{{ button.button_assign_id|e }}">
            <div class="input-group mb-3">
                <span class="input-group-text">マスコン物理ポート(半角入力)</span>
                <input type="text" class="form-control" name="mascon_pos" pattern="([0-9]+/?){1,8}" size="8"  value="{{ button.mascon_pos|e }}" required>
            </div>
            
            <div class="input-group mb-3">
                <label class="input-group-text">ボタン</label>
                <select class="form-select" name="button_id">
                {% for button_id, desc in button_types.items() %}
                    <option value="{{ button_id|e }}" {% if button_id == button.button_id %}selected{% endif %}>{{ desc|e }}</option>
                {% endfor %}
                </select>
            </div>
            
            <div class="input-group mb-3">
                <label class="input-group-text">割当モード</label>
                <select class="form-select" name="assign_type">
                {% for assign_type, desc in assign_types.items() %}
                    <option value="{{ assign_type|e }}" {% if assign_type == button.assign_type %}selected{% endif %}>{{ desc|e }}</option>
                {% endfor %}
                </select>
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">ファンクションID / アクセサリアドレス</span>
                <input type="number" class="form-control" name="send_key" min="0" value="{{ button.send_key|e }}" required>
            </div>

            <button type="submit" class="btn btn-primary" name="mode" value="save">保存</button>
            {% if not button.isnew %}
            <button type="submit" class="btn btn-warning" name="mode" value="del" formnovalidate>削除</button>
            {% endif %}
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
