{% extends "template.html" %}
{% block content %}
<h2>設定情報ダウンロード・復元</h2>
<div>
    <p>この画面では、MultiMasconの設定情報を手元にダウンロードしてバックアップできるほか、<br>
        すでに手元にあるバックアップから設定情報を復元することができます</p>
    <div style="margin:30px">
    <h3>ダウンロード</h3>
        <div>
            <span><a href="/database/multimascon.sqlite3">現在の設定情報ダウンロード</a>(ファイル名: multimascon.sqlite3)</span>
        </div>
    </div>
    <div style="margin:30px">
        <h3>復元(注意点あり)</h3>
        <ul>
            <li>DSAir2以外のコントローラ類をすべて取り外した状態で行ってください。</li>
            <li>また、線路に接続した状態では絶対に行わないでください。なにが起きるかわかりません</li>
            <li>復元が完了したら、自動で再起動が行われます。起動完了するまで絶対にケーブルを抜かないでください</li>
        </ul>
        <form method="post" enctype='multipart/form-data'>
            <input type='file' name='file' required>
            <input type='submit' value='設定情報を復元'>
        </form>
    <div>
</div>
{% endblock %}
