{% extends "template.html" %}
{% block content %}
<h2>車両設定</h2>
<p>ここで設定した識別名により<a href="/mascon">マスコンを割付け</a>ます</p>
{% for loco in locos %}
<div class="border border-3 d-inline-flex m-2">
    <form method="post" class="m-2">
        <input type="hidden" name="loco_id" value="{{ loco.loco_id|e }}">
        <div class="input-group mb-3">
            <span class="input-group-text">識別名</span>
            <input type="text" name="nickname" class="form-control" size="20" value="{{ loco.nickname|e }}" pattern=".{1,20}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">DCCアドレス</span>
            <input type="number" name="address" class="form-control" value="{{ loco.address|e }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">加速曲線番号</span>
            <input type="number" name="accel_curve_group_id" class="form-control" value="{{ loco.accel_curve_group_id|e }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">出力曲線番号</span>
            <input type="number" name="speed_curve_group_id" class="form-control" value="{{ loco.speed_curve_group_id|e }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">最低出力</span>
            <input type="number" name="base_level" class="form-control" value="{{ loco.base_level|e }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">減速度</span>
            <input type="text" name="brake_ratio" class="form-control" value="{{ loco.brake_ratio|e }}" step="0.1" min="0.1" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">ライトファンクションID</span>
            <input type="number" name="light_func_id" class="form-control" value="{{ loco.light_func_id|e }}" required>
        </div>
        
        <button type="submit" class="btn btn-primary" name="mode" value="save">保存</button>
        {% if not loco.isnew %}
        <button type="submit" class="btn btn-warning" name="mode" value="del" formnovalidate>削除</button>
        {% endif %}
    </form>
</div>
{% endfor %}
{% endblock %}
