{% extends "template.html" %}
{% block content %}
<h2>マスコン割付設定</h2>
<div>
    <h4>現在のUSBデバイス(マスコン以外も含む)接続状況</h4>
    <ul>
        {% if ports|length > 0 %}
            {% for port in ports %}
                <li>ポート{{ port|e }}</li>
            {% endfor %}
        {% else %}
            <li>なし</li>
        {% endif %}
    </ul>
    
    <h4>車両とマスコンの紐づけ</h4>
    <p>USBで接続された、上に書かれた物理的なポート番号を入力します。たとえば、ポート2であれば「2」、ポート2につながったUSBハブのポート1に繋がっていれば「2/1」と入力します。</p>
    <p>マスコン物理ポートはほかの車両と重複できません。</p>
    <p>割付変更後は、お手数ですが<a href="/softreset">ソフト再起動</a>をお願いします。</p>
    
    {% for mascon in mascons %}
    <div class="border border-3 d-inline-flex m-2">
        <form method="post" class="m-2">
            <input type="hidden" name="mascon_assign_id" value="{{ mascon.id|e }}">            
            <div class="input-group mb-3">
                <label class="input-group-text">識別名</label>
                <select class="form-select" name="loco_id">
                {% for nickname in nicknames %}
                    <option value="{{ nickname.loco_id|e }}" {% if nickname.loco_id == mascon.loco_id %}selected{% endif %}>{{ nickname.nickname|e }}</option>、
                {% endfor %}
                </select>
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">マスコン物理ポート(半角入力)</span>
                <input type="text" class="form-control" name="mascon_pos" pattern="([0-9]+/?){1,8}" size="8"  value="{{ mascon.mascon_pos|e }}" required>
            </div>
            <button type="submit" class="btn btn-primary" name="mode" value="save">保存</button>
            {% if not mascon.isnew %}
            <button type="submit" class="btn btn-warning" name="mode" value="del" formnovalidate>削除</button>
            {% endif %}
        </form>
    </div>
    {% endfor %}
    
    <p>添付しましたUSBハブは、写真の通り根本からポート1からポート4まで振られています</p>
    <div class="text-center">
        <img src="/static/usb_hub.jpg" class="img-fluid">
    </div>
</div>
{% endblock %}
