{% extends "template.html" %}
{% block content %}
<h2>管理画面トップページ</h2>
<h3>運転設定</h3>
<ul>
    <li><a href="/loco">車両設定</a></li>
    <li><a href="/mascon">マスコン割付設定</a></li>
</ul>

<h3>MultiMascon設定・操作</h3>
<ul>
    <li><a href="/softreset">ソフト再起動</a>
    <li><a href="/upgrade">ファームウェアアップデート</a></li>
    <li><a href="/database">設定情報ダウンロード・復元</a></li>
    <li><a href="/log">ログ表示</a></li>
    <li><a href="/psk">WiFiパスワード変更</a></li>
    <li><a href="/power">電源操作(安全に電源を切る・再起動)</a></li>
</ul>
{% endblock %}

