<!doctype html>
<html>
<head>
    <title>MultiMascon管理画面</title>
</head>
<body>
    <div>
        <a href="/"><img src="/static/logo.png" height="100px"></a>
        <span>for DSAir2 Ver.{{ version }}<span>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
        
        {% if menu is undefined %}
            <div style="margin:20px">
                <a href="/">管理画面メニューに戻る</a>
            </div>
        {% endif %}
</body>
</html>
