{% extends "template.html" %}
{% block content %}
<h2>ファームウェアアップデート</h2>
<div>
    <p>この画面では、ファームウェア(MultiMasconのソフトウェア)を更新できます。<br>
        以下の注意点をお読みになって、正しいファイルを選択して「ファームウェアを更新」ボタンを押してください</p>
    <ul>
        <li>再起動と更新は自動的に行われます。完了するまで、安定した電源のある環境で作業してください</li>
    </ul>
    <div style="margin:30px">
        <form method="post" enctype='multipart/form-data'>
            <input type='file' name='file' required>
            <input type='submit' value='ファームウェアを更新'>
        </form>
    <div>
</div>
{% endblock %}
